<?php
return array(
    'cloudflare' => array(
        /**
         * Define api url
         */
        // 'api_url' => 'https://www.cloudflare.com/api_json.html',

        /**
         * Define email account
         */
        // 'email' => '',

        /**
         * Define api token
         */
        // 'token' => '',
    ),
);